---
import CalendarTime from '@components/icons/CalendarTime.astro';
import MapPin from '@components/icons/MapPin.astro';
import Phone from '@components/icons/Phone.astro';
import Facebook from '@components/icons/Facebook.astro';
import Instagram from '@components/icons/Instagram.astro';
---

<footer
  id='footer'
  class='bg-secondary text-white py-12 md:py-16 rounded-t-footer'
>
  <div
    class='container max-w-screen-lg flex flex-col gap-8 md:flex-row md:justify-between'
  >
    <div class='flex-auto'>
      <h2 class='text-2xl font-bold mb-4'>Contacto</h2>

      <ul class='flex flex-col gap-2 lg:gap-5'>
        <li class='flex items-center gap-2'>
          <span>
            <CalendarTime />
          </span>
          Lunes a Domingo de 10:00 am - 8:00 pm
        </li>

        <li class='flex items-center gap-2'>
          <span>
            <MapPin />
          </span>
          <a
            href='https://maps.app.goo.gl/AKaANcThpQeq9Z8k8'
            target='_blank'
            class='hover:underline'
          >
            Blvd. Miguel Hidalgo 101, Las Fuentes, 88710 Reynosa, Tamps.
          </a>
        </li>

        <li class='flex items-center gap-2'>
          <span>
            <Phone />
          </span>
          <a href='tel: +52 899 925 5121' class='hover:underline'>
            +52 (899)-925-5121
          </a>
        </li>
      </ul>
    </div>

    <div class='flex-none'>
      <h2 class='text-2xl font-bold mb-4'>Mapa del Sitio</h2>

      <ul class='gap-1 flex flex-col'>
        <li><a href='/' class='hover:underline'>Inicio</a></li>
        <li><a href='/directorio' class='hover:underline'>Directorio</a></li>
        <li><a href='/eventos' class='hover:underline'>Eventos</a></li>
        <li><a href='/anuncios' class='hover:underline'>Anuncios</a></li>
        <li><a href='#footer' class='hover:underline'>Contacto</a></li>
      </ul>
    </div>

    <div class='flex-auto'>
      <h2 class='text-2xl font-bold mb-4'>Síguenos</h2>

      <div class='flex space-x-4'>
        <a
          href='https://www.facebook.com/reynosaplazareal'
          target='_blank'
          class='hover:text-gray-300'
          aria-label='facebook'
        >
          <Facebook />
        </a>
        <a
          href='https://www.instagram.com/plazarealreynosamx'
          target='_blank'
          class='hover:text-gray-300'
          aria-label='instagram'
        >
          <Instagram />
        </a>
      </div>
    </div>
  </div>
</footer>
